@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote.sign{
    font-variant-caps: small-caps;
}

blockquote.tomb{
    font-variant-caps: all-small-caps;
}

[epub|type~="z3998:signature"] p{
    font-variant: small-caps;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

footer{
    margin-top: 1em;
    text-align: right;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
